.btn {
  padding: 10px;
  background-color: blue;
  color: white;
  text-decoration: none;
  display: inline-block;
}

.fake-btn {
  padding: 10px;
  background-color: red;
  color: white;
  cursor: pointer;
  width: 150px;
  text-align: center;
}
